{% macro actualiteItem(view_node, title, date, libelle, image, classes = null) %}
<a href="{{ view_node }}" class="news_card {{ classes }}">
  <div>
    {# Increment for display #}
    {% if libelle %}
      <span class="news_tag">{{ libelle }}</span>
    {% endif %}
    {% if title %}
      <h3 class="news_title mt-4">{{ title }}</h3>
    {% endif %}
  </div>
  <div class="d-flex">
    {% if date %}
      <div class="vertical-date">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
          <g clip-path="url(#clip0_803_1673)">
          <path d="M12.6667 1.83333H12V1.16667C12 0.798667 11.702 0.5 11.3333 0.5C10.9647 0.5 10.6667 0.798667 10.6667 1.16667V1.83333H5.33333V1.16667C5.33333 0.798667 5.03533 0.5 4.66667 0.5C4.298 0.5 4 0.798667 4 1.16667V1.83333H3.33333C1.49533 1.83333 0 3.32867 0 5.16667V13.1667C0 15.0047 1.49533 16.5 3.33333 16.5H12.6667C14.5047 16.5 16 15.0047 16 13.1667V5.16667C16 3.32867 14.5047 1.83333 12.6667 1.83333ZM3.33333 3.16667H12.6667C13.7693 3.16667 14.6667 4.064 14.6667 5.16667V5.83333H1.33333V5.16667C1.33333 4.064 2.23067 3.16667 3.33333 3.16667ZM12.6667 15.1667H3.33333C2.23067 15.1667 1.33333 14.2693 1.33333 13.1667V7.16667H14.6667V13.1667C14.6667 14.2693 13.7693 15.1667 12.6667 15.1667ZM12.6667 9.83333C12.6667 10.2013 12.3687 10.5 12 10.5H4C3.63133 10.5 3.33333 10.2013 3.33333 9.83333C3.33333 9.46533 3.63133 9.16667 4 9.16667H12C12.3687 9.16667 12.6667 9.46533 12.6667 9.83333ZM8 12.5C8 12.868 7.702 13.1667 7.33333 13.1667H4C3.63133 13.1667 3.33333 12.868 3.33333 12.5C3.33333 12.132 3.63133 11.8333 4 11.8333H7.33333C7.702 11.8333 8 12.132 8 12.5Z" fill="currentColor"/>
          </g>
          <defs>
          <clipPath id="clip0_803_1673">
          <rect width="16" height="16" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
        </svg>
        <span>{{ date }}</span>
      </div>
    {% endif %}
    {% if image %}
      {% if image.entity is not empty %}
        {# Output the image and alt #}
        <div class="imgcont_news">
        <img src="{{ file_url(image.entity.field_media_image.entity.uri.value) }}" alt="{{ image.entity.field_media_image.alt }}" class="card_news_img">
        </div>
      {% else %}
        <div class="card_news_img">
          {{ image }}
        </div>
      {% endif %}
    {% endif %}
  </div>
</a>
{% endmacro %}